backend/.env
backend/node_modules/
frontend/.dart_tool/
backend/.vscode/
frontend/.vscode/
frontend/.idea/
backend/.idea/
backend/server.sh
backend/dist/
frontend/.build.sh
frontend/build/
frontend/*.log
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock
backend/smtp_server.py
backend/mails/
backend/mymail.html
